

<!--<%= link_to 'Alpha Blog', articles_path %> | <%= link_to 'About', about_path %>-->
<div class="jumbotron center">
  <h1 class="jumbotron__header">Alpha Blog</h1>
  <%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-lg" %>
</div>


